form {

    & .input-wrapper {
        position: relative;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        border: 3px solid #263FA9;
        height: 4rem;
        border-radius: 1.3rem;
        text-align: center;

        justify-content: center;
        justify-content: space-around;

        & input {
            background-color: #030616;
            height: 100%;
            width: 100%;
            padding-inline: 1rem;
            border: transparent;
            color: #FAFAF9;
            font-family: "Outfit", sans-serif;
            font-size: 1rem;
        
            &::placeholder {
                color: #FAFAF9;
                font-family: "Outfit", sans-serif;
                font-size: 1rem;
            }
        }


        & button {
            border-radius: 1rem ;
            border: 1px solid #263FA9;
            cursor: pointer;
            position: absolute;
            right: 0.2rem;
            top: .18rem;
            width: 9rem;
            height: 3.3rem;
            background-color: #263FA9;
            color: #FAFAF9;
        }



    }




}